/* 
Kyle Knotek
2022
*/

:root{
    --light: #eee;
    --grey: #979797;
    --lightgrey: #c5c5c5;
    --green: #98d481;
    --red: #c47d74;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #555555;
}

header{
    padding: 2rem 3rem;
    width: auto;
    border-radius: 15px;
    border:2px solid var(--lightgrey);
    margin: 1rem;
    background-color: var(--lightgrey);
}

header h1{
    font-size: 2rem;
    font-weight: 300;
}
main h2{
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 3.2rem;
}

#controller-form{
    display: flex;
}

input, button{
    border-radius: 15px;
    transition-duration: 0.4s;
    text-align: center;
    background-color: var(--light);
    font-size: 20px;
    padding: 20px 20px;
    cursor: pointer;
    border:2px solid var(--grey);

}

#turn-on-button{
    margin-left: 2rem;
    margin-top: 2rem;
}
#turn-on-button:hover{
    background-color: var(--grey);
    color: var(--light);
}

section.dpad{
    padding: 2rem 2rem;
    max-width: 800px;
    width: 310px;
    border-radius: 15px;
    border:2px solid var(--lightgrey);
    margin: 1rem;
    
}
section.video-feed{
    padding: 2rem 2rem;
    max-width: 2000px;
    width: auto;
    border-radius: 15px;
    border:2px solid var(--lightgrey);
    margin: 1rem;
    display: flex;
}

#up-button{
    height: 70px;
    width: 70px;
    margin-left: 5.4rem;
    margin-bottom: 1rem;
}
#up-button:hover{
    background-color: var(--grey);
    color: var(--light);
}
#left-button{
    height: 70px;
    width: 70px;
}
#left-button:hover{
    background-color: var(--grey);
    color: var(--light);
}
#right-button{
    height: 70px;
    width: 70px;
    margin-left: 6rem;
    margin-bottom: 3rem;
}
#right-button:hover{
    background-color: var(--grey);
    color: var(--light);
}

#down-button:hover{
    background-color: var(--grey);
    color: var(--light);
}

.light-label{
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 1rem;
    margin-left: 5.8rem;
}

.video-label{
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 2rem;
}

#on-button{
    height: 40px;
    width: 100px;
    margin: auto;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    padding-bottom:2.1rem;
    font-size: 1rem;
    background-color: var(--green);
    border: none;
}

#off-button{
    height: 50px;
    width: 100px;
    margin: auto;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    padding-bottom:2.1rem;
    font-size: 1rem;
    background-color: var(--red);
    border:none;
}

.switch{
    display: flex;
    align-items: center;
    justify-content: center;
}
